@model IEnumerable<JamesBond.Models.GadgetModel>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead class="thead-dark">
        <tr>
           
            <th scope="col"  class="w-50">
                @Html.DisplayNameFor(model => model.Name)
            </th>
           
            <th scope="col" class="w-25">
                @Html.DisplayNameFor(model => model.AppearsIn)
            </th>
           
            <th scope="col" class="w-25"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td scope="row">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.AppearsIn)
            </td>
            
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id})
            </td>
        </tr>
}
    </tbody>
</table>
